/* Your custom styles */
#actualizarDatosResolucion,
#buscar_org,
#resConEst,
#verInfoOrg,
#plegInfoOrg,
.divAgregarOrgHist,
#verLineaTiempo,
#actualizarBateriaObservacion,
#divAgregarDoc,
#divAgregarSolicitud,
#admin_panel_ver_finalizada,
#editarAsistenteDiv,
#div_btn_asistentes,
#reenvio_pre,
#reenvio,
#cerr_reen,
#datos_organizaciones_inscritas,
#organizaciones_encontradas,
#divIngJor,
#divSiguienteProgBasiES1,
#v_estado_org,
#datos_org_camara,
#datos_org_resolucion,
#divSiguienteProgBasiES2,
#divSiguienteProgBasiES3,
#divSiguienteProgBasiES4,
#atrasProgProgBasiES,
#tabla_d_a,
#div_municipios,
#atrasProgAvalEcT,
#guardar_formulario_programas_aval,
#divSiguienteProgAvalEcT,
#documentacion,
#eval_firma_rep_legal,
#registroEducativoProgramas,
#antecedentesAcademicos,
#jornadasActualizacion,
#firma_rep_legal,
#datosBasicosProgramas,
#programasAvalEconomia,
#programasAvalar,
#docentes,
#plataforma,
#adminInformacionInforme,
#informacion_docentes,
#docentes_organizaciones,
#cursoAsistente,
#div_solicitud,
#tipoSolicitud,
#solicitudesRegistradas,
#div_motivo_actualizar,
#div_municipios5,
#div_municipios4,
#div_municipios2,
#div_municipios3,
#div_extension,
.side_main_menu,
#div_registro_educativo,
#div_certificado_existencia,
#contacto_copia,
#contacto_copia_admin {
	display: none;
}
.navbar-govco {
	align-items: flex-start;
}
.navbar-header {
	padding: 40px;
}
/*nav li*/
/*.navbar-nav .nav-item.active, .navbar-nav .nav-item:hover, .navbar-nav .nav-item:focus {*/
/*	background: #0a2031 !important;*/
/*}*/
/*.navbar-nav .nav-item.active a, .navbar-nav .nav-item:hover a, .navbar-nav .nav-item:focus a {*/
/*	color: #ffffff !important;*/
/*}*/
/*!* Link Activo*!*/
/*.navbar-nav .nav-item.active, .navbar-nav .nav-item:hover, .navbar-nav .nav-item:focus {*/
/*	background: #3365ca !important;*/
/*}*/
/*.navbar-nav a:hover, .navbar-nav a:focus {*/
/*	background: #6597fe !important;*/
/*}*/
/* Link Activo Fin*/
/* Botón ir arriba*/
.backtoTop .btn-svg-up-hover {
	font-size: 2rem !important;
	line-height: 2rem !important;
}
.backtoTop .btn-up-hover {
	padding: 0.5rem;
}
/* Botón ir arriba Fin*/
/* Footer */
footer {
	background: #004784FF;
	color: #fff;
}
footer h3 {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 1em;
}
footer ul  {
	margin: 0;
	padding: 0;
}
footer li  {
	color: #fff;
	font-size: 14px;
	font-family: Work Sans,sans-serif;
	list-style: none;
}
footer li a {
	color: #fff;
	font-size: 14px;
	font-family: Work Sans,sans-serif;
	list-style: none;
	font-weight: bold;
}
footer .icon a {
	color: #fff;
	text-decoration: underline;
	font-size: 15px;
	display: block;
}
footer .contac span {
	position: relative;
	top: 1px;
	margin-right: 10px;
}
footer .footer-enlaces {
	margin-top: 15px;
}
footer .footer-enlaces a {
	color: #fff;
	font-size: 14px;
	text-decoration: underline;
}
/* Footer End*/

.swal2-styled.swal2-confirm {
	background-color: #004884 !important;
	color: #fff;
}


label.error {
	color: #e62e31;
	font-size: 13px;
}


.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../assets/img/loading_siia.gif) center no-repeat #fff;
}
